/* .game-container {
  padding-top: 4vh;
  padding-bottom: 4vh;
} */
.panel {
  background: #cfcfcf;
  border: 10px solid #ababab;
  box-shadow: 4px 4px 4px #2c2c2c;
  border-radius: 40px;
  padding: 12px 40px 20px;
  width: 88%;
  margin: 0 auto;
}
.monitor {
  background: #505050;
  box-shadow: inset 0px 0px 32px -7px #000000;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  height: 30vh;
}

.text-content {
  color: #fff;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.12em;
}
.sn_btns-select {
  display: flex;
  justify-content: end;
  margin-bottom: 8px;
}
.desc {
  color: black;
  user-select: none;
}
.desc-panel {
  margin-bottom: 16px;
  padding-bottom: 40px;
}
.code-panel {
  padding: 40px 40px 8px;
}
.code-panel-monitor{
  display: flex;
}
.line-numbers{
  font-size: 10px;
  width: 20px;
  text-align: center;
  line-height: 175%;
  margin-right: 10px;
}
.css-text{
  white-space: pre;
}
.textarea-answer{
  resize: none;
  height: 72px;
  width: 350px;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  margin-left: 10px;
  font-size: 10px;
}
.textarea-answer::placeholder{
  font-size: 10px;
}
.board {
  position: relative;
  top: 0;
  height: 100%;
  padding: 0;
  min-width: 300px;
  min-height: 300px;
}
.foreground {
  z-index: 20;
}
.background {
  z-index: 10;
  overflow: hidden;
}
.foreground,
.background {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 86%;
  height: 86%;
  margin: auto;
  padding: 1em;
}
.astronaut {
  background-color: #d882d5;
}
#astronaut0 {
  order: 1;
}
#astronaut1 {
  order: 1;
}
#astronaut2 {
  order: 2;
}
.block {
  position: relative;
  width: 20%;
  height: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.select {
  background: #505050;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.07em;
  padding: 8px 32px 4px;
  border: 3px solid #ababab;
  
  background-image: url('../../../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: 92% 46%;

  -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none;
  cursor: pointer;
  outline: none;
}
.lang-select{
  font-size: 10px;
  padding: 8px 43px 4px;
}
.monitor::-webkit-scrollbar,
.select::-webkit-scrollbar {
  width: 14px;
}
.monitor::-webkit-scrollbar-track,
.select::-webkit-scrollbar-track {
  background: #5A5A5A;
  border-radius: 0px 10px 10px 0px;
}
.monitor::-webkit-scrollbar-thumb,
.select::-webkit-scrollbar-thumb  {
  background-color: #666666;
}
.monitor::-webkit-scrollbar-thumb{
  border-radius: 0px 10px 10px 0px
}
.panel-btns{
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px 0 0;
}
.panel-btn{
  border-width: 1px 3px 2px 1px;
  border-style: solid;
  border-color: #1C1C1C;
  border-radius: 8px;

  color: #fff;
  font-family: 'Sniglet', sans-serif;
  font-size: 12px;

  letter-spacing: 0.07em;
  text-transform: uppercase;
  user-select: none;
}
.panel-btn:not(.difficulties-label,
.panel-btn:disabled):active{
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.4);
  border-width: 1px 2px 1px 1px;
}
:is(.answer-btn, .label-easy, .linkedIn){
  background-color: #DDCF50;
} 

:is(.settings-btn, .label-medium, .telegram){
  background-color: #6889C9;
}
:is(.check-btn, .label-hard, 
    .close-btn, .git){
  background: #CF5D5D;
}
.panel-btn:disabled{
  cursor: not-allowed;
  background-color: #a8a588;
}
.check-btn{
  width: 126px;
  height: 46px;
}
.settings-btn, 
.answer-btn{
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center center;
  width: 50px;
  height: 46px;
}
.settings-btn{
  background-image: url('../../../images/gear.svg');
  margin: 0 15px;
}
.answer-btn{
  background-image: url('../../../images/lightbulb.svg');
}

.close-btn{
  width: 98px;
  height: 38px;
  margin: 0;
}
.sn-btns{
  display: flex;
  align-items: center;
  margin-right: 45px;
}
.sn-btn{
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.linkedIn{
  background-image: url("../../../images/linkedin.svg");
  background-size: 10px;
}
.telegram{
  background-image: url("../../../images/telegram.svg");
  margin: 0 25px;
}
.git{
  background-image: url("../../../images/github.svg");
  background-size: 14px;
  background-position: 4px center;
}
.modal-dialog{
  margin: 0;
}
.modal-content,
.settings-body,
.settings-footer{
  border: none;
  background-color: transparent;
  padding: 0;
 
}
.settings-body{
  margin-bottom: 30px;
}
.settings{
  width: 320px;
  height: 372px;
  padding: 44px 20px 20px;
  border-radius: 24px;
  top: -20%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.settings-select{
  margin-bottom: 20px;
}
.settings-subtitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.07em;
}
.difficulties-radio{
  visibility: hidden;
}
.difficulties-label{
  font-size: 8px;
  text-align: center;
  width: 68px;
  padding: 9px 0px;
  border-width: 1px 1px 3px 1px;
  transform: translateX(10px);
  cursor: pointer;
}
.label-toggle-in{
  animation: toggle-in 1s forwards 1 linear;
}
@keyframes toggle-in {
  0%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(122px);
  }
}
.label-toggle-out{
  animation: toggle-out 1s forwards 1 linear;
}
@keyframes toggle-out {
  0%{
    transform: translateX(120px);
  }
  100%{
    transform: translateX(10px);
  }
}
.label-line{
  background-color: #2C2C2C;
  border: 3px solid #ABABAB;
  display: block;
  width: 200px;
  height: 9px;
  position: relative;
  top: -20px;
  z-index: -1;
}
.vibration {
  animation: vibration 1s 1;
}
.key-words {
  font-weight: bold;
  text-decoration: underline;
}
.key-words:hover {
  color: rgb(31, 31, 31);
}
@keyframes vibration {
  0%,
  50%,
  100% {
    transform: rotateZ(0deg);
  }
  40% {
    transform: rotateZ(-4deg);
  }
  60% {
    transform: rotateZ(4deg);
  }
}
