.game-container {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.panel {
  background: #cfcfcf;
  border: 10px solid #ababab;
  box-shadow: 4px 4px 4px #2c2c2c;
  border-radius: 40px;
  padding: 12px 40px 26px;

  width: 90%;
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
}
.monitor {
  background: #505050;
  box-shadow: inset 0px 0px 32px -7px #000000;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  height: 32vh;
}

.text-content {
  color: #fff;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.12em;
}
.level-selector {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.desc {
  color: black;
  user-select: none;
}
.desc-panel {
  margin-bottom: 16px;
}
.code-panel {
  padding: 40px 40px 12px;
}
.input-wrapper {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(54, 54, 54);
}
.board {
  position: relative;
  top: 0;
  height: 100%;
  padding: 0;
}
.foreground {
  z-index: 20;
}
.background {
  z-index: 10;
  overflow: hidden;
}
.foreground,
.background {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 86%;
  height: 86%;
  margin: auto;
  padding: 1em;
}
.astronaut {
  background-color: #d882d5;
}
#astronaut0 {
  order: 1;
}
#astronaut1 {
  order: 1;
}
#astronaut2 {
  order: 2;
}
.block {
  position: relative;
  width: 20%;
  height: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selector {
  background: #505050;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 32px;
  border: 3px solid #ababab;
  
  background-image: url('data:image/svg+xml;utf8, <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.3943 8.585C6.93188 9.38594 6.70067 9.78641 6.39715 9.91775C6.14374 10.0274 5.85626 10.0274 5.60285 9.91775C5.29933 9.78641 5.06812 9.38594 4.6057 8.585L1.33212 2.915C0.8697 2.11406 0.638489 1.71359 0.6765 1.38506C0.708237 1.11077 0.851974 0.861813 1.07365 0.697183C1.33916 0.5 1.80158 0.5 2.72642 0.5L9.27358 0.5C10.1984 0.5 10.6608 0.5 10.9264 0.697183C11.148 0.861813 11.2918 1.11077 11.3235 1.38506C11.3615 1.71359 11.1303 2.11406 10.6679 2.915L7.3943 8.585Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: 92% 46%;

  -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none;
  cursor: pointer;
  outline: none;
}
.monitor::-webkit-scrollbar,
.selector::-webkit-scrollbar {
  width: 14px;
}
.monitor::-webkit-scrollbar-track,
.selector::-webkit-scrollbar-track {
  background: #5A5A5A;
  border-radius: 0px 10px 10px 0px;
}
.monitor::-webkit-scrollbar-thumb,
.selector::-webkit-scrollbar-thumb  {
  background-color: #666666;
}
.monitor::-webkit-scrollbar-thumb{
  border-radius: 0px 10px 10px 0px
}

.vibration {
  animation: vibration 1s 1;
}
.key-words {
  font-weight: bold;
  text-decoration: underline;
}
.key-words:hover {
  color: rgb(31, 31, 31);
}
@keyframes vibration {
  0%,
  50%,
  100% {
    transform: rotateZ(0deg);
  }
  40% {
    transform: rotateZ(-4deg);
  }
  60% {
    transform: rotateZ(4deg);
  }
}
