
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sniglet:wght@400;800&display=swap');

body {
  font-family: 'Press Start 2P', cursive;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #425270;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

p,
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
